html, body, .phx-connected {
    height: 100%;
}

.full-screen {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.menu-button {
    font-size: x-small;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    line-height: 1;
}