html, body, .phx-connected {
    height: 100%;
}

.full-screen {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.menu-button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* display: inline-block; */
    line-height: 1;
    font-size: x-small;
}

.button-unread-message {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 10px;
    text-align: center;
    user-select: none;
}
